<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- does DBViewer caches its access to the Database -->
	<!-- set Cache's key attribute to 0 to disable -->
	<configSections>
		<section name="Cache" type="System.Configuration.SingleTagSectionHandler"/>
	</configSections>
	<Cache key="1"/>
	
	<!-- automatically writes the trace messages to the listeners -->
	<system.diagnostics>
		<trace autoflush="true" indentsize="3"/>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
